<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form login-form-modern">
    <h2>Iniciar sesión</h2>
    <div class="form-group">
      <label for="email">Usuario</label>
      <input id="email" type="text" formControlName="email">
      <div class="error-message">{{ getErrorMessage('email') }}</div>
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input id="password" type="password" formControlName="password">
      <div class="error-message">{{ getErrorMessage('password') }}</div>
    </div>
    <button type="submit" [disabled]="!loginForm.valid">Iniciar sesión</button>
  </form>
</div>
